*{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
}

html body{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}
body{
    background: #ddd9d9;
   display: flex;
   flex-direction: column;
}





.navbar{
    position: fixed;
    width: 100%;
    

}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar ul li{
    
    width: 25%;
    align-items: center;
    
    margin:6px 2px;
    background: lightseagreen;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.5);
}

.navbar ul li a{
    font-size: 1.2rem;
    text-align: center; 
    display: block;
    color: black;
}

.navbar ul li a:hover{
    color: darkorchid;
}

.navbar ul li:hover{
    background: #fff;
    transition: .2s;
}

.navbar ul li a:hover{
    letter-spacing: 2px;
    transition: .2s;
}

.navbar ul li .active{
    color: #fff;
}



.home{
    min-height: 100vh;
}

.home .leatest{
margin-top: 0px;
margin-left: 50px;
margin-right: 50px;
}

.home .leatest h1{
    font-size: 2rem;
    margin-top: 0px auto;
    text-align: center;
    background: violet;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
 
}

.home .leatest {
    background: #fff;
    padding: 8px;
    border: 1px solid lightseagreen;
    border-radius: 8px;
 
}

.home .leatest ul li{
    font-size: 30px;
    margin-top:20px ;


}

.home .leatest ul li a{
    font-size: 20px
    
}

.home .leatest ul li a:hover{
    color: #fff;
    background: lightseagreen;
    font-size: 1.6rem;
    letter-spacing: 1s;
    transition: .5s;
}





.home .admit{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    }
    
    .home .admit h1{
        font-size: 2rem;
        margin-top: 0px auto;
        text-align: center;
        background: violet;
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        color: #fff;
    }
    
    .home .admit {
        background: #fff;
        padding: 8px;
        border: 1px solid lightseagreen;
        border-radius: 8px;
     
    }
    
    .home .admit ul li{
        font-size: 30px;
        margin-top:20px ;
        
    
    }
    
    .home .admit ul li a{
        font-size: 20px
        
    }
    
    .home .admit ul li a:hover{
        color: #fff;
        background: lightseagreen;
        font-size: 1.6rem;
        letter-spacing: 1s;
        transition: .5s;
    }










    .home .result{
        margin: 30px 50px;

        }
        
        .home .result h1{
            font-size: 2rem;
            margin-top: 0px auto;
            text-align: center;
            background: violet;
            width: 100%;
            padding: 10px;
            border-radius: 8px;
            color: #fff;
        }
        
        .home .result {
            background: #fff;
            padding: 8px;
            border: 1px solid lightseagreen;
            border-radius: 8px;
         
        }
        
        .home .result ul li{
            font-size: 30px;
            margin-top:20px ;

        
        }
        
        .home .result ul li a{
            font-size: 20px
            
        }
        
        .home .result ul li a:hover{
            color:#f8f9f9;
            background: lightseagreen;
            font-size: 1.6rem;
            letter-spacing: 1s;
            transition: .5s;
        }




        .head{
            display: flex;
            background: violet;
            margin-bottom: 10px;
            border-radius: 0px 0px 20px 20px;
            box-shadow: 0 .3rem .5rem rgba(0,0,0,.5);
            
        }

        .head img{
        height: 90px;
        width: 90px;
        margin: 60px
        }
        .head img{
            border: 3px solid white;
            border-radius: 50%;
            padding: 4px;
            text-align: center;
            align-items: center;
       
        }

        .head h1{
            margin-top: 90px;
            font-size: 2rem;
            text-align: center;
        
        }


        .footer{
            justify-content: center;
            text-align: center;
            background: #111;
            color: #fff;
            border-radius: 20px 20px 0px 0px;
        }

        .footer .head h3{
            font-size: 1rem;
            color: #fff;
        }









        .about-sec h1{
            font-size: 1.6rem;
            background: violet;
            text-align: center;
            border: 3px solid #333;
            border-radius: 6px;
            margin: 5px 70px;
            padding: 20px;
            box-shadow: 0 .3rem .5rem rgba(66, 3, 52, 0.596);
            color: #f8f9f9;
        }

        .about-sec .content p{
            font-size: 15px;
            background: #f8f9f9;
            padding: 30px;
            text-transform: none;
        }